<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Service <%= @name%> seems down</h1>
<p>
  The status page <%= @url %> indicate that <%= @name %> have some issues<br>
</p>
</body>
</html>